<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon tabs-color-active-positive">

  <!-- Schedule Tab -->
  <ion-tab title="Schedule" icon-off="ion-ios-calendar" icon-on="ion-ios-calendar-outline" href="#/tab/schedule">
    <ion-nav-view name="tab-schedule"></ion-nav-view>
  </ion-tab>

  <!-- Exercises Tab  -->
  <ion-tab title="Exercises" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/exercises">
    <ion-nav-view name="tab-exercises"></ion-nav-view>
  </ion-tab>

  <!-- My Statistics Tab -->
  <ion-tab title="Statistics" icon="ion-stats-bars" href="#/tab/statistics">
    <ion-nav-view name="tab-statistics"></ion-nav-view>
  </ion-tab>


</ion-tabs>
